<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->

    <!-- Configure the dependency injection -->
    <bean id="myFortune"
          class="com.springdemo.HappyFortuneService">
    </bean>

    <bean id="baseballCoach"
          class ="com.springdemo.BaseballCoach">
        <!-- Set up the constructor injection -->
         <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myTrackCoach"
          class = "com.springdemo.TrackCoach">
        <constructor-arg ref="myFortune"/>

    </bean>

    <!-- Set up the setter injection -->
    <bean id="cricketCoach"
          class ="com.springdemo.CricketCoach">

        <!-- Will call setFortuneService() -->
        <property name="fortuneService" ref="myFortune"/>

        <!-- Will call setEmailAddress() -->
        <!-- Inject literal values values="" -->
        <property name="emailAddress" value="theCoach@coach.com"/>

        <!-- Will call setTeam() -->
        <property name="team" value="Sunrisers Hyderabad"/>
    </bean>
    
</beans>





